<footer class="footer ">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <section>
    <div class="container overflow-hidden">
      <div class="row gy-5 gy-md-0">
        <div class="col-xs-12 col-md-7 order-1 order-md-0">
          <div class="copyright text-center text-md-start">
            &copy; 2024. Tous droits réservés.
          </div>
          <div class="credits text-secondary text-center text-md-start mt-2 fs-7">
            developpé par Mastouri Emna & Douahem Hibatouallah <span class="text-primary">&#9829;</span>
          </div>
        </div>

        <div class="col-xs-12 col-md-5 order-0 order-md-1">
          <div class="container" style="display: grid; place-items: end;">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="link" href="https://www.linkedin.com/in/emna-mastouri-384694289/" target="_blank" style="color: black; text-decoration: none;">
                  <i class="fab fa-linkedin social fa-lg"></i> <small>MASTOURI</small>
                </a>
              </li>
              <li class="nav-item">
                <a class="link" href="https://www.linkedin.com/in/hyba-douahem-069b37269/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" style="color: black; text-decoration: none;">
                  <i class="fab fa-linkedin social fa-lg"></i> <small>DOUAHEM</small>
                </a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </section>

</footer>